@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-display: swap;
}

html,
body {
  scroll-behavior: smooth;
}
body {
  background-color: #0f0f0f;
}
header.scrolled {
  background-color: #0f0f0f;
}
header.scrolled nav ul li {
  padding-block: 25px;
}
.h_logo {
  filter: invert(1);
}
.socialsBoxFix.active {
  height: 150px;
}
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}
.socialSvg {
  width: 17px;
}
.animated {
  animation: 1s infinite wpAnim;
  box-shadow: 0 0 0 18px transparent;
}
@keyframes wpAnim {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}
.adv_fixed {
  background-image: url("/photos/adv_car_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
  background-attachment: fixed;
}
.call_form_wrapper {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.neon_dot {
  box-shadow: 0px 0px 10px 1px rgba(87, 186, 0, 1);
}

.category_wrapper a img,
.category_wrapper a span,
.category_wrapper a {
  transition: all 0.3s ease;
}
.category_wrapper a:hover {
  box-shadow: 0px 0px 0px 1px #fff6;
  font-size: 19px;
}
.category_wrapper a:hover img {
  transform: scale(1.15);
}
.category_wrapper a:hover span {
  letter-spacing: 3px;
}
.partnorSwiper .swiper-slide {
  border: solid 1px rgba(255, 255, 255, 0.04);
  background: #141414;
  height: 200px;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.partnorSwiper .swiper-slide:hover p {
  letter-spacing: 2.24px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.partnorSwiper .swiper-slide:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.partnorSwiper .swiper-slide:hover {
  border: solid 1px rgba(255, 255, 255, 0.3);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

#other_langs {
  position: absolute;
  top: 40px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

#lang_wrapper:hover #other_langs {
  opacity: 1;
  transform: translateY(0);
}

.car-element {
  width: 32%;
  border: solid 1px #1d1d1d;
  height: 335px;
  position: relative;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  overflow: hidden;
}
.car-element:hover {
  border: solid 1px #5a5a5a;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.car-element img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 1;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.car-element:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.car-element__info-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 5;
  overflow: hidden;
}
.car-element__header {
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 15, 0.8)), color-stop(65%, rgba(15, 15, 15, 0.5)), to(rgba(15, 15, 15, 0)));
  background: linear-gradient(180deg, rgba(15, 15, 15, 0.8) 0, rgba(15, 15, 15, 0.5) 65%, rgba(15, 15, 15, 0) 100%);
  padding: 15px 15px 0 15px;
}
.car-element__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
  color: #fff;
}
.car-element__price {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  font-family: Montserrat, sans-serif;
}
.car-element__dop-info {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 0 20px 20px 20px;
  opacity: 1;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 15, 0)), color-stop(57%, rgba(15, 15, 15, 0.4)), to(rgba(15, 15, 15, 0.7)));
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0, rgba(15, 15, 15, 0.4) 57%, rgba(15, 15, 15, 0.7) 100%);
}
.car-element__dop-info-element {
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #fff;
  margin: 0 12px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  opacity: 1;
}
.cta_left_shadow {
  background: #000000;
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(8, 8, 8, 0.71) 60%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(8, 8, 8, 0.71) 60%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(8, 8, 8, 0.71) 60%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#FFFFFF", GradientType=1);
}
.announcement_track {
  display: inline-flex;
  gap: 2rem;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  float: left;
  animation-duration: 100s;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.btnV2 {
  padding: 19px 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 285px;
  background: 0 0;
  border: solid 1px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  border-radius: 0;
  letter-spacing: 4px;
}
.btnV2:hover {
  background: #fff;
  color: #0f0f0f;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.btnV2 svg {
  margin-left: 19px;
}

.btnV2:hover svg path {
  fill: #0f0f0f;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
/* container */
.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: clamp(16px, 4vw, 40px);
  max-width: 1320px;
}
/* Small devices (phones ≥576px) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (tablets ≥768px) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (desktops ≥992px) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* 2XL screens (≥1400px) */
@media (min-width: 1500px) {
  .container {
    max-width: 1200px;
    padding-inline: 0px;
  }
}
