/* @font-face {
  font-family: "AudiType";
  src: url("/fonts/AudiType.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
} */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-display: swap;
}

html,
body {
  scroll-behavior: smooth;
}
body {
  background-color: #2c2b2e;
}
header.scrolled {
  background-color: #2c2b2e;
}
header.scrolled nav ul li {
  padding-block: 16px;
}
header.scrolled .h_logo {
  filter: invert(1);
}
.socialsBoxFix.active {
  height: 150px;
}
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}
.socialSvg {
  width: 17px;
}
.animated {
  animation: 1s infinite wpAnim;
  box-shadow: 0 0 0 18px transparent;
}
@keyframes wpAnim {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}
.adv_fixed {
  background-image: url("/photos/adv_car_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
  background-attachment: fixed;
}
.call_form_wrapper {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.neon_dot {
  box-shadow: 0px 0px 10px 1px rgba(87, 186, 0, 1);
}
/* container */
.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: clamp(16px, 4vw, 40px);
  max-width: 1320px;
}

/* Small devices (phones ≥576px) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (tablets ≥768px) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (desktops ≥992px) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* 2XL screens (≥1400px) */
@media (min-width: 1500px) {
  .container {
    max-width: 1200px;
    padding-inline: 0px;
  }
}
